@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  font-family: Nunito,Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo 2', sans-serif;
  }
}


/* Background images */

.landing-hero {
  background-image: url(assets/Hero.png);
  background-size: cover;
  background-position: center;
}

.team-hero {
  background-image: url(assets/TeamHero.png);
  background-size: cover;
  background-position: center;
}

.estate-hero {
  background-image: url(assets/EstateImg.png);
  background-size: cover;
  background-position: center;
}

.dashBg {
  background-image: url(assets/dashimg1.png);
  background-size: cover;
  background-position: center;
}

.dashBg2 {
  background-image: url(assets/dashimg2.png);
  background-size: cover;
  background-position: center;
}
.dashBg3 {
  background-image: url(assets/dashimg3.png);
  background-size: cover;
  background-position: center;
}
.gallery-hero {
  background-image: url(assets/GalleryImg.png);
  background-size: cover;
  background-position: center;
}
.partners-hero {
  background-image: url(assets/partners/PartnerLanding.png);
  background-size: cover;
  background-position: center;
}
/* Gradients */
.green-black-gradient {
  background: linear-gradient(98.1deg, #2B792E 58.07%, #000000 112.47%);
}


/* Sidebar styling */

.hamburger {
  display: none;
  z-index: 999;
}

@media (max-width: 1025px) {
  .hamburger {
    display: block;
    cursor: pointer;
    padding: 10px;
    color: white;
    position: fixed;
    right: 1rem;
    top: 2vh;
    z-index: 999;
    background: white;
    border-radius: 5px;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #17A1FA;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

}